<h1>Single Cat</h1>

<p>
  <%= @cat.name %>
</p>

<table border="2">

  <tr>
    <th>Gender</th>
    <th>Color</th>
    <th>B-day</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color.capitalize %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<ul>
  <% @requests.each do |request| %>
    <li>
      <a href="<%= cat_rental_request_url(request.id) %>">
        Requester Name: <%= request.user.user_name %></br>
        Start <%= request.start_date %> </br>
        End <%= request.end_date %>
      </a><br>
      <% if request.pending? && @cat.user_id == current_user.id %>
        <%= button_to("Approve", approve_cat_rental_request_url(request.id)) %>
      <% elsif request.approved? %>
        Approved
      <% elsif request.pending? %>
        Pending
      <% else %>
        Denied
      <% end %>

    </li>
  <% end %>
</ul>

<a href="<%= cats_url %>">Back to Cats</a>
